body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: normal;
    color: #0e0d0d;
    background-color: rgb(255, 255, 255);
}

html,body {
    margin: 0; 
    padding: 0;
    height: 100%;
    width: 100%;
}

header {
    background-image: url('toscabg.jpg');
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    padding: 0;
    text-align: left;
    color: rgb(0, 0, 0);
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(26, 32, 29);
    padding: 10px;
}

.childnav {
    display: flex;
    text-decoration: none;
    padding: 10px;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(245, 11, 11);
    border: thin solid #000000;
    text-align: center;
}

nav a:hover {
    color: rgb(245, 11, 11);
    background-color: yellow;
    border-bottom: 2px solid black;
    font-style: italic;
}

.wrapper-sidebar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sidebar {
    width: 100px;
    background-color: #aed6e6;
    padding: 20px;
}

main {
    flex-grow: 1;
    padding: 20px;
    display: grid;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.profile-card {
    background-color: #aed6e6;
    padding: 10px;
    text-align: center;
    border: 1px solid #978585;
}

.profile-card img {
    width: 150px; 
    height: auto; 
    object-fit: cover; 
}

.profile-card h3 {
    margin-top: 10px;
}

.parent-footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
}

.parent-footer a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

footer {
    background-color: rgb(26, 32, 29);
    text-align: center;
    color: white;
    padding: 20px;
}
