body { 
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 300;
    line-height: normal;
    color: #0e0d0d;
    background-color: #ebffed;
    margin: 0;
    width: 100%;
}

.container_recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}

.anchor {
    padding: 10px;
}

.indo_recipes {
    width: 300px;
    height: auto;
    border: thin solid #000000;
    text-align: center;
    margin: 15px;
    padding-bottom: 5px;
    text-shadow: #ff1414;
    text-transform: capitalize;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.floating-right {
    float: right;
}

.floating-left {
    float: left;
}

.indo_recipes img {
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

main {
    width: 100%;
}

main a {
    text-decoration: none;
}

ol {
    margin-left: 5px;
}

main h2 {
    text-align: center;
}

.wrapper_recipes {
    display: flex;
    flex-wrap: wrap;
}

.sticky {
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #22577a;
    padding-top: 20px;
}
  
/* Style the links using navbar class */
.navbar a {
    color: #ffffff;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}
  
.navbar a:hover {
    border-bottom: 4px solid rgb(209, 171, 1);
    color: rgb(209, 171, 1);
    text-shadow: 0 2px 2px #404040;
}
  
.navbar a:active {
    border-bottom: 4px solid rgb(209, 171, 1);
}

header {
    text-align: center;
    background-color: #ebffed;
    color: #22577a;
    margin: 0;
    padding: 10px;
}

header h1 {
    margin: 0;
}

.sidebar {
    border: solid thick rgb(209, 171, 1);
    padding: 20px;
    border-radius: 10px;
}

aside {
    width: 100%;
}

aside a {
    text-decoration: none;
    color: #0e0d0d;
}

aside a:hover {
    color: rgb(209, 171, 1);
    text-shadow: 0 2px 0 #404040;
}

.card {
    border: thin solid #0e0d0d;
    box-shadow: 3px 3px 3px #404040;
    width: 200px;
}

.card figure {
    margin: 0;
}

.card img {
    width: 100%;
}

.cardtext {
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    background-color: #22577a;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}

footer p {
    margin: 0;
    text-align: center;
    padding: 10px;
    background-color: #22577a;
    color: white;
}

@media ONLY screen AND (max-width : 700px) {
    .container {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }

    nav {
        flex-direction: column;
    }

    .wrapper img {
        width: 100%;
    }

    .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 100%;
        margin-bottom: 15px;
        justify-content: center;
    }

}

@media ONLY screen AND (max-width : 500px) {
    .container {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }

    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        flex-direction: column;
        justify-content: center;
    }

    .card {
        width: 100%;
        margin-bottom: 15px;
        justify-content: center;
    }

    
}

@media print {
    nav {
        display: none;
    }

    footer {
        display: none;
    }

    main {
        width: 100%;
    }
}
