body { 
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 300;
    line-height: normal;
    color: #0e0d0d;
    margin: 0;
}

main {
    margin-left: 20px;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #b467e7;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 5px;
    color: #ffffff;

}

nav a:hover {
    color: #ffd900;
}

header {
    background-color: #360c52;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 10px;
}

header h1 {
    margin: 0;
}

.card {
    border: thin solid #0e0d0d;
    box-shadow: 3px 3px 3px #404040;
    width: 200px;
}

.card figure {
    margin: 0;
}

.card img {
    width: 100%;
}

footer p {
    margin-left: 20px;
}

@media ONLY screen AND (max-width : 600px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 75%;
        margin-bottom: 15px;
    }

    .feature {
        order: -1;
    }
}

@media ONLY screen AND (max-width : 450px) {
    nav {
        flex-direction: column;
    }
}
