body { 
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    background: url('backgroundTosca.png') #ffffff;
    color: #ffffff;
}

header {
    background-image: url('pikachu.png');
    background-repeat: no-repeat;
    background-position: 250px;
}

.mylist {
    list-style-image: url('pokemon3.png');
}

.color {
    color: rgb(255, 255, 255);
}

footer p {
    color: #ffffff;
}

#special {
    color: rgb(194, 214, 12);
}

.pic {
    width: 250px;
}